.core-hero {
  background-color: #e5e5e5;
  padding-top: 64px;
  padding-bottom: 64px;

  h1 {
    margin-top: 0;
    font-size: 45px;
  }
  p {
    margin-bottom: 32px;
    font-size: 20px;
  }

  &.align-left {
    text-align: left;
  }
  &.align-center {
    text-align: center;
  }
  &.align-right {
    text-align: right;
  }
}
