.blockify-test {
	width: 512px;
	padding: 64px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	line-height: 1.42857143;
	background: #8e44ad;
}

.blockify-test h1 {
	margin: 0 0 8px;
	font-size: 30px;
	font-weight: 400;
	line-height: 1.1;
	font-style: italic;
}

.blockify-test p {
	margin: 0 0 48px;
	font-size: 20px;
	opacity: 0.9;
}

.blockify-test a {
	text-decoration: underline;
	color: #fff;
}

.blockify-test ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.blockify-test ul li {
	margin: 4px 0 0;
	padding: 4px 12px;
	line-height: 32px;
	background: #9b59b6;
	overflow: hidden;
}

.blockify-test ul li span {
	float: right;
	margin: 0 4px;
	opacity: 0.9;
}

.blockify-test ul li.has-error {
	background: #c0392b;
}
