.grid-section {
	padding: 64px 0;
	background: #e5e5e5;
	text-align: center;
}

.grid-section .container {
  margin-top: 48px;
  margin-bottom: 48px;
}

.grid-section > div > h1,
.grid-section > div > h5 {
	margin: 0 0 16px;
}

.grid-section > div > h4 {
	opacity: 0.8;
}

.grid-section .row {
	margin-top: 48px;
	text-align: left;
}
